extends layout

block content
	div.container
		h1 MoniCron 
		p Monitor your cronjobs
		ul.list-group
			li.list-group-item Server1
				span.badge 8
			li.list-group-item Server2
				span.badge 9
			li.list-group-item Server3
				span.badge 88
