extends layout

block content
  div.container
    h1 MoniCron 
    p Monitor your cronjobs
    table.table.table-striped
      thead
        tr
          th Server
          th Job ID
          th Freq.
          th Started
          th Ended
          th Status
      tbody#cronjob-list


  script#item-template(type='text/template')
    td <%= data.server %>
    td <%= data.job_id %>
    td <%= data.frequency %>
    td <%= data.started %>
    td <%= data.ended %>
    td
      | <% switch(data.state.id) { case 0: %>
      | <span class="label label-success"><%= data.state.name %></span>
      | <% break; case 1 : %>
      | <span class="label label-primary"><%= data.state.name %></span>
      | <% break; case 2 : %>
      | <span class="label label-warning"><%= data.state.name %></span>
      | <% break; case 3 : %>
      | <span class="label label-danger"><%= data.state.name %></span>
      | <span class="badge"><%= data.overlap %></span>
      | <% break; } %>
