extends layout

block content
  div.container
    h1 MoniCron 
    p Monitor your cronjobs
    ul#cronjob-list.list-group


  script#item-template(type='text/template')
    <%= server %> <%= job_id %>
    span.badge  ok
