doctype html
html
	head
		block head
			block title
				title MoniCron - track your cronjobs
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
				meta(name='viewport' content='width=device-width, initial-scale=1.0')
			link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			script(src='/js/bower.min.js')
			script(src='/js/monicron.js')
	body
		include header

		block content

		include footer
